@import '../../../scss/settings';
@import '../../../scss/global';

.Home__hero-img {
  width: 100%;
}

.Home__hero-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home__hero-text {
  color: $primaryFont;
  position: absolute;
  font-weight: 500;
  font-size: 2.7em;
  letter-spacing: 4px;
}

.Home__featured-wrap {
  display: flex;
  justify-content: space-between;
}

.Home__featured-heading {
  font-size: 2.25em;
}

.Home__featured-tut-wrap {
  padding: 1em;
  border: 1px solid #555;
  margin-bottom: 1em;
  max-width: 700px;
}

.Home__featured-tut-name {
  font-size: 1.5em;
  font-weight: 500;
  text-decoration: underline;
  letter-spacing: 2px;
  margin-bottom: 1em;
}