@import '../../../scss/settings';
@import '../../../scss/global';

.Home__hero-img {
  width: 100%;
}

.Home__hero-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home__hero-text {
  color: $primaryFont;
  position: absolute;
  font-weight: 500;
  font-size: 1.5em;
  letter-spacing: 4px;

  @media(min-width: $bp-tablet) {
    font-size: 2.7em;
  }
}

.Home__featured-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;

  @media(min-width: $bp-tablet) {
    flex-wrap: nowrap;
  }
}

.Home__featured-heading {
  font-size: 2em;
  font-weight: 500;
  margin-left: 1rem;

  @media(min-width: $bp-tablet) {
    font-size: 2.5em;
  }
}

.Home__featured-tut-wrap {
  padding: 1em;
  border: 1px solid #555;
  box-sizing: border-box;
  margin: 1em;

  @media(min-width:$bp-tablet) {
    margin-right: 2em;
    max-width: 550px;
  }
}

.Home__featured-tut-name {
  font-size: 1.5em;
  font-weight: 500;
  text-decoration: underline;
  letter-spacing: 2px;
  margin-bottom: 1em;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    color: $primary;
  }
}

.Home__featured-art-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  border: 1px solid #555;
  margin: 1em;

  @media(min-width:$bp-tablet) {
    max-width: 550px;
  }
}

.Home__featured-art-body {
  display: flex;
  align-items: flex-start;
}

.Home__featured-art-img {
  max-width: 150px;
  margin: .5em;
}