@import '../../../scss/settings';

.Home__hero-img {
  width: 100%;
}

.Home__hero-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home__hero-text {
  color: $primaryFont;
  position: absolute;
  font-weight: 500;
  font-size: 2.7em;
  letter-spacing: 4px;
}

.Home__featured-wrap {
  display: flex;
  justify-content: space-between;
}