@import '../../../scss/settings.scss';

.Tutorial-wrap {
  a {
    color: $faded-red;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
  }

  h2, h3 {
    color: $primary;
  }
}

.Tutorial__split-items {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.Tutorial__nav-btns {
  background-color: $code-bg;
  border: 0;
  font-size: 1em;
  border-radius: 3px;
  padding: .5em 1em;
  cursor: pointer;

  &:hover {
    opacity: .8;
    text-decoration: underline;
  }
}
.Tutorial__next-btn {
  margin-left: auto;
}