@import '../../../scss/settings';

.Header__main-wrap {
  background: $primary;
  color: $primaryFont;
  padding: 2em;
  box-sizing: border-box;
  z-index: 5;
  position: relative;
  box-shadow: 0 3px 3px rgba(0,0,0,.7);
}

.Header__inner-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.Header__links-wrap {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;

  li {
    cursor: pointer;
    margin-right: 2em;
    font-size: 1.25em;

    &:hover {
      color: $primaryHover;
    }
  }
}

.Header__title {
  margin: 0;
}