@import '../../../scss/settings.scss';

.Footer__wrap {
  background: $primary;
  color: $primaryFont;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  p {
    margin: 0;
  }
}

.Footer__tiny-texZ {
  font-size: 8px;
}