$primary: #2E4172;
$primaryFont: white;
$primaryHover: #C1C7D7;
$primaryLightBg: #EBF1FF;

$faded-red: #CF6766;

$white-light: #FAFAFA;

$dark1: #333;
$dark2: #555;
$dark3: #777;
$dark4: #999;

$code-bg: #ffe3c4;


$bp-mobile: 500px;
$bp-tablet: 900px;
$bp-desktop: 1200px;
$bp-oversize: 1600px;

$font1: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
